@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #233d4d;
    --secondary-color: #a1c181;
    --accent1-color: #fcca46;
    --accent2-color: #fe7f2d;
    --accent3-color: #365e52;
  
    --heading-font: 'Open', serif;
    --paragraph-font: 'Open', sans-serif;
    --nav-background-color: #5ce1e6;
  } /* Define colors for page */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  } /* Set h elements font and color */

.social-media-link {
    text-decoration: none;
  } /* Removing underlines from social media links */
  
body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
  } /* Limiting entire width of the page, add font/padding to body */

.hero {
    position: relative;
  } /* make hero class relative position */

.hero h1 {
    position: absolute;
    top: 65px;
    width: 800px;
    text-align: center;
    font-size: xx-large;
    background-color: var(--primary-color);
    opacity: .8;
    color: white;
  } /* define h1 element "company name" */

h2 {
    color: var(--accent3-color);
    text-align: center;
  } /* define color for h2 elements */

.hero article {
    position: absolute;
    top: 150px;
    left: 75px;
    width: 600px;
    height: 100px;
    background-color: var(--accent1-color);
    opacity: .8;
    padding: 10px;
  } /* define article element (mission statement + image within large image) */

.hero article img {
    float: right;
    display: block;
    width: 25%;
    height: auto;
  } /* set article image "happy people" to fit inside article and float, 25% article width */

.hero img {
    float: right;
    display: block;
    width: 100%;
    height: auto;
  } /* set hero class image "nature" to fit inside hero class div at 100% width */

header nav{
    display: flex;
    flex-direction: row;
}

header nav a {
  display: block;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: var(--primary-color);
  font-size: .8rem;
  font-weight: 700;
}

header nav a:hover {
  background-color: var(--nav-background-color);
  font-weight: 700;
}

header nav a:link, nav a:visited {
  color: white;
} /* change color for links, before(link) and after(visited) clicking on them */

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--secondary-color);
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.figures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 1rem;
}

.figures figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-height: 150px;
  margin: auto;
}

.figures figcaption {
  background-color: #222;
  color: #fff;
  font: .7rem sans-serif;
  padding: 3px;
  text-align: center;
}

footer {
  border-top: solid 2px black;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: 1fr 0.5fr;
  padding: .5rem;
}

.sociallinks {
  justify-self: flex-end;
  align-self: center;
}

.sociallinks a {
  padding: 10px;
  text-decoration: none;
}

footer p {
  justify-self: flex-end;
  align-self: center;
  font-size: .75rem;
}

.history {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.history p {
  text-align: justify;
} 

/* ------------------------------------------------------------------------------ */
/* Contact Us Page */

.hero2 {
  position: relative;
  padding-top: 15px;
} /* make hero class relative position */

.hero2 img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.hero2 h1 {
  position: absolute;
  top: 110px;
  left: 380px;
  width: 350px;
  text-align: center;
  font-size: 3rem;
  background-color: var(--primary-color);
  opacity: .8;
  color: white;
} /* define h1 element "company name" */

.employees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.employees figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: 0px;
  align-items: center;
}

.employees figcaption {
  background-color: var(--primary-color);
  color: white;
  font: .7rem sans-serif;
  padding: 0px;
  text-align: center;
  width: 220px;
}

button {
  margin: 1rem;
  background-color: #dff000;
  color: black;
  border: none;
  border-radius: .5rem;
  padding: .25rem;
  font-size: .75rem;
  justify-self: center;
  width: 100px;
}

button:hover {
  background-color: darkgreen;
}

.contactus fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: .5rem;
  border: 0px;
  padding: .5rem;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

.contactus label {
  text-align: left;
}

.contactus {
  width: 800px;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  display: grid;
  color: white
}

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.info {
  align-self: end;
  padding-bottom: 0;
  margin: 10px;
}

.info p {
  font-size: .85rem;
}

.info h2 {
  text-align: left;
}

.contactus fieldset legend {
  font-weight: 800;
  padding-bottom: 20px;
}

.questions {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.radio {
  padding-bottom: 10px;
  grid-row: 1/2;
  grid-column: 1/3;
}

.name {
  grid-row: 2/3;
  align-items: center;
}

.namegrid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0.5rem;
  margin-left: 0;
}

.email {
  grid-row: 3/4;
  align-items: center;
}

.emailgrid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0.5rem;
  margin-left: 0;
}

.map {
  align-self: center;
}

iframe {
  border: none;
}

footer ol {
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}

footer ol li a {
  font-size: 0.75rem;
}

footer ol li::marker {
  content: ' ';
  font-size: 1.2em;
}

footer ol li a:link, li a:visited {
  color: black;
} /* change color for links, before(link) and after(visited) clicking on them */

/* ------------------------------------------------------------------------------ */
/* Trips Page Styling */

.hero3 {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero3 h1 {
  position: absolute;
  top: 70px;
  left: 50px;
  width: 250px;
  text-align: center;
  font-size: 3rem;
  background-color: var(--primary-color);
  opacity: .8;
  color: white;
  padding-bottom: 5px;
} /* define h1 element "company name" */

.tripscontent {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 10fr;
  margin-top: 15rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.vertical {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid black; */
  height: 100%;
}

.tripscontent .action {
  grid-column: 2/3;
  grid-row: 1/2;
  border: solid var(--primary-color);
  border-radius: .5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  grid-column: 2/3;
  grid-row: 2/3;
  border: solid black;
  text-align: center;
  height: 100%;
}

.action a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
}

.action a:hover {
  background-color: var(--nav-background-color);
  font-weight: 700;
}

.action a:link, a:visited {
  color: white;
} /* change color for links, before(link) and after(visited) clicking on them */

th {
  border-bottom: 4px solid black;
  background-color: var(--nav-background-color);
  border-collapse: collapse;
}

td {
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.vertical figcaption {
  font-size: .75rem;
}

/* ------------------------------------------------------------------------------ */
/* Home Page Styling */

.homemain {
  display: grid;
}

.hero4 {
  padding-top: 20px;
  position: relative;
}

.hero4 h1 {
  position: absolute;
  top: 215px;
  width: 800px;
  text-align: center;
  font-size: 2.5rem;
  background-color: var(--primary-color);
  opacity: .8;
  color: white;
}

.hero4 article {
  position: absolute;
  top: 290px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: var(--accent1-color);
  opacity: .8;
  text-align: center;
  font-size: 1.25rem;
}

.hero4 img {
  float: right;
  display: block;
  width: 100%;
  height: auto;
}

/* start formatting for rest of body on main page */
.homepage {
  padding-top: 10px;
  display: grid;
  /* grid-template-rows: 6fr 1fr 2fr; */
  grid-template-rows: 1fr 100px 275px;
  grid-template-columns: 1fr;
}

.offerings {
  grid-row: 1/2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  /* grid-template-rows: 4fr 1fr 4fr; */
  grid-template-rows: 300px 100px 300px;
  gap: 10px;
  /* background-color: var(--accent3-color); */
}

.img1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.img1 img {
  width: 100%;
}

.art1 {
  grid-row: 1/3;
  grid-column: 3/4;
  padding: 5px;
  text-align: justify;
}

.art1 div {
  border: 2px solid black;
  padding: 5px;
  background-color: var(--accent1-color);
  text-align: left;
}

.img2 {
  grid-row: 3/4;
  grid-column: 2/4;
}

.img2 img {
  width: 100%;
}

.art2 {
  grid-row: 2/4;
  grid-column: 1/2;
  padding: 5px;
  text-align: justify;
}

.img3 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.img3 img {
  width: 100%;
}

.action {
  grid-row: 2/3;
  grid-column: 1;
}

.homepage .action a {
  font-size: 2.5rem;
}

.form {
  grid-row: 3/4;
  grid-column: 1;
}

.homepage .action {
  border: var(--primary-color) 2px solid;
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  
}

.homepage .action a:hover {
  color: black;
}

.homepage form {
  border: black 2px solid;
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: var(--secondary-color);
}

.homepage input {
  height: 25px;
}

.homepage label {
  text-align: left;
  color: black;
  font-weight: 700;
  padding-left: 5px;
}

.homepage fieldset {
  margin-bottom: 1rem;
  border: 0px solid rgba(0, 0, 0, 0.1);
  display: grid;
  color: white;
}

.homepage button {
  width: 150px;
  margin: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .25rem;
  font-size: 1.25rem;
}

.homepage button:hover {
  background-color: var(--nav-background-color);
  color: black;
}

.offerings h2 {
  color: var(--primary-color);
}

.homepage h3 {
  color: black;
}