@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #233d4d;
    --secondary-color: #a1c181;
    --accent1-color: #fcca46;
    --accent2-color: #fe7f2d;
    --accent3-color: #619b8a;
  
    --heading-font: 'Open', serif;
    --paragraph-font: 'Open', sans-serif;
    --nav-background-color: #5ce1e6;
  } /* Define colors for page */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  } /* Set h elements font and color */

.social-media-link {
    text-decoration: none;
  } /* Removing underlines from social media links */
  
body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
  } /* Limiting entire width of the page, add font/padding to body */

.hero {
    position: relative;
  } /* make hero class relative position */

h1 {
    position: absolute;
    top: 65px;
    width: 800px;
    text-align: center;
    font-size: xx-large;
    background-color: var(--primary-color);
    opacity: .8;
    color: white;
  } /* define h1 element "company name" */

h2 {
    color: var(--accent3-color);
    text-align: center;
  } /* define color for h2 elements */

.hero article {
    position: absolute;
    top: 150px;
    left: 75px;
    width: 600px;
    height: 100px;
    background-color: var(--accent1-color);
    opacity: .8;
    padding: 10px;
  } /* define article element (mission statement + image within large image) */

.hero article img {
    float: right;
    display: block;
    width: 25%;
    height: auto;
  } /* set article image "happy people" to fit inside article and float, 25% article width */

.hero img {
    float: right;
    display: block;
    width: 100%;
    height: auto;
  } /* set hero class image "nature" to fit inside hero class div at 100% width */

header nav{
    display: flex;
    flex-direction: row;
}

header nav a {
  display: block;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: var(--primary-color);
  font-size: .8rem;
  font-weight: 700;
}

header nav a:hover {
  background-color: var(--nav-background-color);
  font-weight: 700;
}

header nav a:link, nav a:visited {
  color: white;
} /* change color for links, before(link) and after(visited) clicking on them */

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--secondary-color);
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.figures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 1rem;
}

.figures figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-height: 150px;
  margin: auto;
}

.figures figcaption {
  background-color: #222;
  color: #fff;
  font: .7rem sans-serif;
  padding: 3px;
  text-align: center;
}

footer {
  border-top: solid 2px black;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: 1fr 0.5fr;
  padding: .5rem;
}

.sociallinks {
  justify-self: flex-end;
  align-self: center;
}

.sociallinks a {
  padding: 10px;
  text-decoration: none;
}

footer p {
  justify-self: flex-end;
  align-self: center;
  font-size: .75rem;
}

.history {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.history p {
  text-align: justify;
} 

/* ------------------------------------------------------------------------------ */
/* Contact Us Page */

.hero2 {
  position: relative;
  padding-top: 20px;
} /* make hero class relative position */

.hero2 img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.hero2 h1 {
  position: absolute;
  top: 110px;
  left: 380px;
  width: 350px;
  text-align: center;
  font-size: 3rem;
  background-color: var(--primary-color);
  opacity: .8;
  color: white;
} /* define h1 element "company name" */

.employees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.employees figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: 0px;
  align-items: center;
}

.employees figcaption {
  background-color: var(--primary-color);
  color: white;
  font: .7rem sans-serif;
  padding: 0px;
  text-align: center;
  width: 220px;
}

button {
  margin: 1rem;
  background-color: #dff000;
  color: black;
  border: none;
  border-radius: .5rem;
  padding: .25rem;
  font-size: .75rem;
  justify-self: center;
  width: 100px;
}

button:hover {
  background-color: darkgreen;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: .5rem;
  border: 0px;
  padding: .5rem;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

form {
  width: 800px;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  display: grid;
  color: white
}

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.info {
  align-self: end;
  padding-bottom: 0;
  margin: 10px;
}

.info p {
  font-size: .85rem;
}

.info h2 {
  text-align: left;
}

fieldset legend {
  font-weight: 800;
  padding-bottom: 20px;
}

fieldset p {
  color: white;
}

.radio {
  padding-bottom: 10px;
}

.map {
  align-self: center;
}

iframe {
  border: none;
}

footer ol {
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}

footer ol li a {
  font-size: 0.75rem;
}

footer ol li::marker {
  content: ' ';
  font-size: 1.2em;
}