* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    background-color: rgb(157, 94, 12);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

nav a {
    display: block;
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
  }

h1 {
    color: #54514b86;
    border-bottom: 3px solid #54514b86;
    margin-bottom: 13px;
  }

main img {
    width: 130px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
  }

p {
    padding: 0;
  }

aside {
  position: relative;
  width: 20rem;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside h2 {
  position: absolute;
  top: 60px;
  left: 125px;
  color: black;
}

aside img {
    width: 280px;
    height: auto;
  }

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }

.grid {
    display: grid;
    align-items: center;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.2);
  padding: 1rem;
  background-color: #afa9a086;
  color: black;
}


